@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
*{
    font-family: "Montserrat", sans-serif;
}
body {
  background-color: #000;
  overflow-x: hidden;
  box-sizing: border-box;
}

@layer base {
  ::selection {
    @apply bg-[#a6ff00] text-black;
  }
}